*{
    box-sizing: border-box;
}
body{
    background-color: rgb(138, 111, 111);
    color: white;

}
h1{
    padding: 10px 0px 0px 0px ;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.container{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    padding-top: 45px;
    margin-top: 50px;
    margin-right: 6px;
    float: left;
}
.name1{
    background-color: rgb(6, 100, 155);
    border: 2px solid black;
    margin-top: -45px;
    width: 175px;
    text-align: center;
    justify-content: center;
    float: right;
    font-weight: bold;
}
.name2{
    background-color: rgb(33, 194, 105);
    border: 2px solid black;
    margin-top: -45px;
    width: 175px;
    text-align: center;
    justify-content: center;
    float: right;
    font-weight: bold;

}
.name3{
    background-color: rgb(224, 11, 231);
    border: 2px solid black;
    margin-top: -45px;
    width: 175px;
    text-align: center;
    justify-content: center;
    float: right;
    font-weight: bold;

}
.Box{
    margin-top: 45px;
    padding: 10px;
}


@media (min-width: 992px) {
    .container{
        width: 33%;
    }
}
@media (min-width: 768px ) and (max-width: 991px) {
    .container{
        width: 50%;
    }
}
@media (max-width: 767px) {
    .container{
        width: 50%;
    }
}
    /* border: 2px solid black;
    width: 60px;

    justify-content: center;
    background-color: red;
    text-align: center;
    position: relative;
    top: 0;
    right: -500px; */
    /* float: right;
    color: white;
    width: 175px;
    padding: 5px;
    margin: -3.5px -3.5px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #db2a2ade; */