*{
    box-sizing: border-box;
}
body{
    background-color: rgb(219, 208, 208);
}
h1{
    padding: 10px 0px 0px 0px ;
    text-align: center;
    justify-content: center;
}

.container{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    padding-top: 45px;
    margin-right: 5px;
    float: left;
}
.name{

}


@media (min-width: 992px) {
    .container{
        width: 33%;
    }
}
@media (min-width: 768px ) and (max-width: 991px) {
    .container{
        width: 50%;
    }
}
@media (max-width: 767px) {
    .container{
        width: 50%;
    }
}
    /* border: 2px solid black;
    width: 60px;

    justify-content: center;
    background-color: red;
    text-align: center;
    position: relative;
    top: 0;
    right: -500px; */
    /* float: right;
    color: white;
    width: 175px;
    padding: 5px;
    margin: -3.5px -3.5px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #db2a2ade; */